<li><img src="../img/logo.jpg" style="width: 6em;"></li>
<!--<li class="cbp-vicurrent"><a href="dashboard" class="fa fa-pencil-square-o" title="Encuestas">Encuestas</a></li>-->
<li class=""><a href="users" class="fa fa-users " title="Usuarios">Usuarios</a></li>
<li class=""><a href="cliente" class="fa fa-files-o " title="Reportes">Clientes</a></li>
<li class=""><a href="sucursal" class="fa fa-check-square-o " title="Sucursales">Sucursales</a></li>
<li class=""><a href="oferta" class="fa fa-comment " title="Comentarios">Ofertas</a></li>
<li class=""><a href="#" class="fa fa-sign-out " title="Salir">Salir</a></li>